.additional-product-card {
  width: 280px;
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    width: 632px;
    padding: 26px 38px 28px;
  }

  @media (min-width: $tablet-width) {
    width: 895px;
    padding: 15px 0 17px;
  }
}

.additional-product-card__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product-card__description {
  color: $text-color-secondary;
  font-family: $text-font;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
