.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-secondary;
  text-decoration: none;
  min-height: 40px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.3;
  }
}
