.checkbox__label {
  margin-left: 45px;
  min-height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    border: 2px solid #cdcdcd;
    top: 0;
    left: -45px;
  }

  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../../images/tick.svg");
    background-repeat: no-repeat;
    top: 5px;
    left: -40px;
  }

  &:hover {
    &::before {
      border: 2px solid #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    min-height: 40px;
    &::before {
      width: 36px;
      height: 36px;
      left: -60px;
    }

    &::after {
      width: 30px;
      height: 30px;
      left: -55px;
    }
  }
}

.checkbox__input:checked + .checkbox__label::after {
  content: "";
}
