.contacts-content {
  background-color: $background-color-primary;

  &--primary {
    background-color: $background-color-secondary;

    @media (min-width: 1280px) {
      background-color: $background-color-primary;
    }
  }
}
