.contacts {
  position: relative;
}

.contacts__content {
  padding: 26px 20px;
  background-color: $background-color-primary;
  display: flex;

  @media (min-width: $tablet-width) {
    min-width: 628px;
    gap: 308px;
    padding: 60px 70px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 0;
    width: 407px;
    padding: 60px 78px 60px 80px;
    gap: 87px;
    position: absolute;
    top: 95px;
    left: 110px;
  }

  &--primary {
    background-color: $background-color-secondary;

    @media (min-width: $desktop-width) {
      background-color: $background-color-primary;
    }
  }
}

.contacts__headline {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 162px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__address {
  color: $text-color-secondary;
  font-family: $text-font;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 157px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__street {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.contacts__city {
  margin: 0;
}
