.example {
  background-color: $background-color-secondary;

  @media (min-width: $tablet-width) {
    background: linear-gradient($background-color-primary, $background-color-primary 57%, $background-color-secondary 57%, $background-color-secondary);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient($background-color-primary, $background-color-primary 23%, $background-color-secondary 23%, $background-color-secondary);
  }
}

.example__wrapper {
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-bottom: 75px;
    padding-top: 0;
    width: 84%;
    min-width: 1220px;
    display: flex;
    gap: 224px;
  }
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  color: $text-color-secondary;
  font-family: $text-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}
