.gift {
  background-color: $color-secondary;
  background-image:
    image-set(
      url("../../images/gift-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/gift-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/gift-background-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/gift-background-mobile@2x.jpg") type("image/jpg") 2x
    );
  background-size: cover;
  min-height: 290px;
  max-width: 500px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    max-width: 900px;
    background-image:
      image-set(
      url("../../images/gift-background-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/gift-background-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/gift-background-tablet@1x.jpg") type("image/jpg") 1x,
      url("../../images/gift-background-tablet@2x.jpg") type("image/jpg") 2x
    );
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    min-height: 288px;
    width: 245px;
    background-image:
      image-set(
      url("../../images/gift-background-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/gift-background-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/gift-background-desktop@1x.jpg") type("image/jpg") 1x,
      url("../../images/gift-background-desktop@2x.jpg") type("image/jpg") 2x
    );
    margin-bottom: 87px;
  }
}

.gift__description {
  color: #ffffff;
  font-family: $text-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 58%;
  margin: 0;
  margin-top: 187px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: -128px;
    left: 50%;
    transform: translateX(-36px);
    background-image: url("../../images/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 71px 125px auto auto;
    width: 23%;

    &::before {
      top: -12px;
      left: -306px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 185px 42px auto;
    width: 66%;

    &::before {
      width: 80px;
      height: 83px;
      top: -126px;
      left: 50%;
      transform: translateX(-40px);
    }
  }
}
