.nav-list {
  color: $text-color-primary;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 24px;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
    font-size: 20px;
    line-height: normal;
    color: #ffffff;
  }
}

.nav-list__item {
  position: relative;
  display: block;
  min-width: 320px;
  background-color: $background-color-primary;

  &:first-child {
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: inline;
    min-width: 0;
    background-color: inherit;

    &:first-child {
      &::after {
        content: none;
      }
    }

    &::before {
      content: none;
    }
  }

  &--active::before {
    @media (min-width: $tablet-width) {
      content: "";
      min-width: 0;
      width: 100%;
      height: 2px;
      background-color: $color-secondary;
      bottom: -8px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      background-color: $background-color-primary;
    }
  }
}

.nav-list__link {
  color: $text-color-primary;
  text-decoration: none;
  display: block;
  padding: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: inline;
    padding: 0;
  }

  &--main-page{
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }
}
