.product-type {
  padding: 30px 33px 18px 20px;
  background-color: $background-color-secondary;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 37%;
    min-width: 457px;
    padding: 77px 61px 59px 52px;
  }
}

.product-type__wrapper {
  &::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $color-secondary;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 20px;
  }

  &::after {
    display: block;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      left: auto;
      right: 63px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &--slim {
    &::after {
      width: 36px;
      height: 50px;
      background-image: url("../../images/cat-slim.svg");
      top: 21px;
      left: 27px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        width: 140px;
        height: 194px;
        top: 81px;
        left: auto;
        right: 93px;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        width: 70px;
        height: 97px;
        top: 41px;
        left: 67px;
      }
    }
  }

  &--pro {
    &::after {
      width: 67px;
      height: 28px;
      background-image: url("../../images/cat-pro.svg");
      top: 35px;
      left: 13px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        width: 268px;
        height: 112px;
        top: 135px;
        left: auto;
        right: 29px;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        width: 134px;
        height: 56px;
        top: 67px;
        left: 33px;
      }
    }
  }
}

.product-type__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.product-type__description {
  color: $text-color-secondary;
  font-family: $text-font;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    min-width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: -23px;
  }

  @media (min-width: $tablet-width) {
    color: $text-color-primary;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;

    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.product-type__button {
  display: inline;
  color: $text-color-primary;
  background-color: $background-color-secondary;
  font-size: 16px;
  line-height: 16px;
  position: relative;

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    background-image: url("../../images/icon-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -47px;
  }

  &:hover {
    background-color: $background-color-secondary;

    &::after {
      background-image: url("../../images/icon-arrow-long.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    &::after {
      right: -57px;
    }
  }
}
