.products__wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin: 0 30px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 71px;
    width: 84%;
    min-width: 1220px;
    flex-direction: row;
    gap: 80px;
  }
}
