.product-card {
  color: $text-color-secondary;
  font-family: $text-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    background: linear-gradient($background-color-primary, $background-color-primary 16%, $background-color-secondary 16%, $background-color-secondary);
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }

  &--more {
    color: #111111;
  }
}

.product-card__description {
  @media (min-width: 768px) {
    line-height: 18px;
  }
}
