.product-type {
  padding: 30px 33px 18px 20px;
  background-color: $background-color-secondary;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 39%;
    min-width: 457px;
    padding: 77px 61px 59px 52px;
  }
}

.product-type__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.product-type__description {
  color: $text-color-secondary;
  font-family: $text-font;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    color: $text-color-primary;
    font-size: 16px;
    line-height: 24px;
  }
}

.product-type__button {
  color: $text-color-primary;
  background-color: $background-color-secondary;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}
