.promo {
  background: linear-gradient($color-secondary, $color-secondary 61%, $background-color-primary 61%, $background-color-primary);
  background-image:
    image-set(
    url("../../images/promo-background-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/promo-background-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/promo-background-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/promo-background-mobile@2x.jpg") type("image/jpg") 2x
  ),
    linear-gradient(#63a63b, #63a63b 302px, $background-color-primary 302px, $background-color-primary);
  background-size: 320px 302px, auto;
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0 auto;
  padding: 27px 20px 0;

  @media (min-width: $tablet-width) {
    background: $background-color-primary;
    color: $text-color-primary;
    padding: 61px 30px 0;
  }

  @media (min-width: $desktop-width) {
    width: 84%;
    min-width: 1220px;
    background-color: transparent;
    padding-top: 24px;
  }
}

.promo__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    text-align: left;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px 416px 205px;
    grid-template-rows: auto auto 54px 526px;
  }

  @media (min-width: $desktop-width) {
    width: 920px;
    padding-left: 80px;
    margin: 0;
    grid-template-columns: 367px 552px;
    grid-template-rows: auto auto 54px auto;
  }
}

.promo__image {
  margin: 0;
  margin-bottom: -1px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/5;
    margin-bottom: 0;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    margin-top: 0;
    margin-bottom: 47px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-top: 81px;
    width: 50%;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 52px;
  }
}

.promo__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    grid-column: 2/3;
    grid-row: 3/4;
    min-height: 54px;
    width: 244px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
