.stats {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    flex-direction: column;
    gap: 60px;
    margin: 0;
  }
}

.stats__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    gap: 43px;
    margin: 0;
  }
}

.stats__item {
  width: 124px;
  height: 56px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__title {
  color: $text-color-secondary;
  text-align: center;
  font-family: $text-font;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  position: absolute;
  top: 46px;
  left: 23px;
  width: 77px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    top: 63px;
    left: 18px;
    width: 125px;
  }
}

.stats__total-sum {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 20px;
    width: 174px;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 366px;
    margin: 0;
  }
}

.stats__total-sum-number {
  @media (min-width: $desktop-width) {
    margin-left: 63px;
  }
}
